.toggleButton button{
  background-color: #fff;
  border: none;

}

.toggleButton {
  border:1px solid black;
  border-radius: 50px;  
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-between; 
}

.union {
  background-color: blue !important;
  color: white;
  border-radius: 50px;
  width: 50%;
}

.container .row {
  height: 180px;
  display: flex;
}

.container .row div {
  border:1px solid black;
  width: 180px;
  height: 180px; 
}